@Model Site_Manutencao_Motos.Models.AgandamentoModel

@{
     layout =  _Layout.cshtml
}

<p>@model.Nome</p>
<p>@model.SobreNome</p>
<p>@model.CPF</p>
<p>@model.Email</p>
<p>@model.Endereco</p>
<p>@model.Cidade</p>
<p>@model.Complemento</p>
<p>@model.UF</p>
<p>@model.Contato</p>