
@model Projeto.Models.AgendamentoModel;

<p>@Model.Nome</p>
<p>@Model.SobreNome</p>  
<p>@Model.CPF</p>
<p>@Model.Email</p>
<p>@Model.Endereco</p>
<p>@Model.Cidade</p>
<p>@Model.Complemento</p>
<p>@Model.UF</p>
<p>@Model.Contato</p>